body {
    background: #000;
    color:#fff;
}

.login {
    height: 50px;
    float: right;
}

.search {
    width: 600px;
    padding-top: 20px;
    margin: auto;
}

.form-control {
    width: 50%;
}


.row {
    background-color: #fff;
}

table {
    width: 100%;
}

thead tr {
    background: #eee;
}

tbody tr {
    text-align: center;
}

#panel .menu ul {
    list-style:none;
    margin:0;
    padding:0;
}
#panel .menu li {
    float:left;
}
#panel .menu li + li {
    border-left:1px solid #ccc;
}
#panel .menu a {
    display:block;
    padding:7px 10px;
    
    color:#222;
    background:#eee;
    text-decoration:none;
}
#panel .menu a:hover {
    color:#fff;
    background:#666;
}
#panel .menu a:active {
    color:#fff;
    background:#0090cf;
}
#selected-content{
    display: inline-block;
    padding:25px;
}
#panel table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#panel td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#panel tr:nth-child(even) {
    background-color: #dddddd;
    color:#000;
}
ul.thumbnails{
    width:1000px;
    margin: auto;
    margin-top:150px;
}
ul.thumbnails .span1{
    width:80px;
    
}